footer,header,main{
  width: 500px;
}

h1{
  font-family: sans-serif;
  color: white;
  background-color: darkblue;
  padding: .3rem;
  text-align:center;
}

footer{
  font-family: courier;
  font-style: italic;
  font-size: .9rem;
  color: gray;
}

button,input,p{
  font-size:1.5em;
}