body {
    display: flex;
    justify-content: center;
    background: #141965;
    font-family: tahoma, verdana, sans serif;
}

main {
    width: 960px;
    padding: 2rem;
    background: #ddd;
}

#canvas {
    display: flex;
    justify-content: center;
    width: 100%;
}

canvas {
    margin: 0 1rem 1.5rem 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background: #fafafa;
}

#controls {
    margin-left: 1rem;
}

#volumeLabel {
    margin-left: 1rem;
}

section {
    margin-bottom: 1rem;
    display: flex;
    gap: 10px;
}

#playButton {
    font-size: 1.2rem;
    width: 6rem;
}

button[data-playing="yes"]:after {
    content: "Pause";
}

button[data-playing="no"]:after {
    content: "Play";
}

#fsButton {
    font-size: 1.2rem;
    width: 8rem;
}